.product {
    width: 300px;
    height: 510px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 5px;

}

.name {
    font-weight: 600;
    margin: 5px 10px;
}

.price {
    font-weight: 600;
    margin: 0 10px;
    margin-bottom: 30px;
}

.seller,
.rating {
    margin: 0 10px;
}

.button {
    width: 300px;
    height: 40px;
    background-color: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: orange;
}